$color-greyblue: #1D242E;

$color-mediumgrey: #B1B2B9;
$color-lightgrey: #E0E7F1;

$color-lightbeige: #FCF4F4;
$color-mainfucsia: #911A3E;
$color-secfucsia: #FF135A;
$color-mainturqoise: #6FBAB8;
$color-secturqoise: #8CDEDC;
$color-tertiaryturqoise: #4D7B81;

$color-darkblue: #0F111E;
$color-mediumblue: #151829;
$color-blue: #212436;
$color-lightblue: #36394B;
$color-pastelblue: #C7D4E6;

$shadow-secfucsia: 1px 1px 10px rgba(255, 19, 90, 0.85);
$shadow-secfucsia45: 1px 1px 10px rgba(255, 19, 90, 0.45);
$shadow-mainturqoise: 1px 1px 10px rgba(140, 222, 220, 0.85);
$shadow-mainturqoise15: 1px 1px 10px rgba(140, 222, 220, 0.15);
$shadow-black: 2px 2px 10px rgba(0, 0, 0, 1);
