<nav>
    <a href="/dashboard" class="nav__icon nav-dashboard"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001"
            style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
            <g>
                <g>
                    <path d="M503.402,228.885L273.684,19.567c-10.083-9.189-25.288-9.188-35.367-0.001L8.598,228.886
            c-8.077,7.36-10.745,18.7-6.799,28.889c3.947,10.189,13.557,16.772,24.484,16.772h36.69v209.721
            c0,8.315,6.742,15.057,15.057,15.057h125.914c8.315,0,15.057-6.741,15.057-15.057V356.932h74.002v127.337
            c0,8.315,6.742,15.057,15.057,15.057h125.908c8.315,0,15.057-6.741,15.057-15.057V274.547h36.697
            c10.926,0,20.537-6.584,24.484-16.772C514.147,247.585,511.479,236.246,503.402,228.885z" />
                </g>
            </g>
            <g>
                <g>
                    <path
                        d="M445.092,42.73H343.973l116.176,105.636v-90.58C460.149,49.471,453.408,42.73,445.092,42.73z" />
                </g>
            </g>
        </svg>
    </a>
    <a href="/profile" class="nav__icon nav-profile"> <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
            style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <g>
                <g>
                    <path
                        d="M452,40h-24V0h-40v40H124V0H84v40H60C26.916,40,0,66.916,0,100v352c0,33.084,26.916,60,60,60h392
            c33.084,0,60-26.916,60-60V100C512,66.916,485.084,40,452,40z M472,452c0,11.028-8.972,20-20,20H60c-11.028,0-20-8.972-20-20V188
            h432V452z M472,148H40v-48c0-11.028,8.972-20,20-20h24v40h40V80h264v40h40V80h24c11.028,0,20,8.972,20,20V148z" />
                </g>
            </g>
            <g>
                <g>
                    <rect x="76" y="230" width="40" height="40" />
                </g>
            </g>
            <g>
                <g>
                    <rect x="156" y="230" width="40" height="40" />
                </g>
            </g>
            <g>
                <g>
                    <rect x="236" y="230" width="40" height="40" />
                </g>
            </g>
            <g>
                <g>
                    <rect x="316" y="230" width="40" height="40" />
                </g>
            </g>
            <g>
                <g>
                    <rect x="396" y="230" width="40" height="40" />
                </g>
            </g>
            <g>
                <g>
                    <rect x="76" y="310" width="40" height="40" />
                </g>
            </g>
            <g>
                <g>
                    <rect x="156" y="310" width="40" height="40" />
                </g>
            </g>
            <g>
                <g>
                    <rect x="236" y="310" width="40" height="40" />
                </g>
            </g>
            <g>
                <g>
                    <rect x="316" y="310" width="40" height="40" />
                </g>
            </g>
            <g>
                <g>
                    <rect x="76" y="390" width="40" height="40" />
                </g>
            </g>
            <g>
                <g>
                    <rect x="156" y="390" width="40" height="40" />
                </g>
            </g>
            <g>
                <g>
                    <rect x="236" y="390" width="40" height="40" />
                </g>
            </g>
            <g>
                <g>
                    <rect x="316" y="390" width="40" height="40" />
                </g>
            </g>
            <g>
                <g>
                    <rect x="396" y="310" width="40" height="40" />
                </g>
            </g>
        </svg>
    </a>
    <a href="/authenticate" class="nav__icon nav-logout"> <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="122.775px" height="122.776px" viewBox="0 0 122.775 122.776" style="enable-background:new 0 0 122.775 122.776;"
        xml:space="preserve">
        <g>
            <path d="M86,28.074v-20.7c0-3.3-2.699-6-6-6H6c-3.3,0-6,2.7-6,6v3.9v78.2v2.701c0,2.199,1.3,4.299,3.2,5.299l45.6,23.601
                c2,1,4.4-0.399,4.4-2.7v-23H80c3.301,0,6-2.699,6-6v-32.8H74v23.8c0,1.7-1.3,3-3,3H53.3v-30.8v-19.5v-0.6c0-2.2-1.3-4.3-3.2-5.3
                l-26.9-13.8H71c1.7,0,3,1.3,3,3v11.8h12V28.074z"/>
            <path d="M101.4,18.273l19.5,19.5c2.5,2.5,2.5,6.2,0,8.7l-19.5,19.5c-2.5,2.5-6.301,2.601-8.801,0.101
                c-2.399-2.399-2.1-6.4,0.201-8.8l8.799-8.7H67.5c-1.699,0-3.4-0.7-4.5-2c-2.8-3-2.1-8.3,1.5-10.3c0.9-0.5,2-0.8,3-0.8h34.1
                c0,0-8.699-8.7-8.799-8.7c-2.301-2.3-2.601-6.4-0.201-8.7C95,15.674,98.9,15.773,101.4,18.273z"/>
        </g>
        </svg>
    </a>
</nav>