nav {
    width: 7rem;
    height: 100vh;
    background-color: $color-darkblue;
    // position: sticky;
    // top: 0; 

    a {
        text-decoration: none;
        color: transparent;
        padding: 2rem;
        display: block;
    }

    svg:nth-of-type(1) {
        height: 3rem;
        width: 3rem;
        fill: $color-mainfucsia;
    }

    .active {
        background-color: $color-mainfucsia;
        svg {
            fill: white;
        }
    }
}