@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;

body {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.header-primary {
    font-size: 4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

.header-secondary {
    font-size: 3.5rem;
    font-weight: 500;
}

.header-tertiary {
    font-size: 2.5rem;
    font-weight: 800;
}

.header-quaternary {
    font-size: 2.2rem;
    font-weight: 400;
}

.header-quinary {
    font-size: 1.8rem;
    font-weight: 400;
    
    &_bold {
        font-size: 1.8rem;
        font-weight: 600;
    }
}

.paragraph-primary {
    font-size: 2.2rem;
    font-weight: 400;

    &_bold {
        font-size: 2.2rem;
        font-weight: 600;
    }
}

.paragraph-secondary {
    font-size: 2rem;
    font-weight: 600;
}

.paragraph-quaternary {
    font-size: 1.4rem;
    font-weight: 400;

    &_bold {
        font-weight: 600;
    }
}